<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/paper.min.css')}}">
    <script src="https://use.fontawesome.com/3edbda66b7.js"></script>

  </head>

  <body>
    <div class="page-header">
          <h2>Student Status</h2>
    </div>
    <div class="container">
      <div id="row" class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img id='image1' src="{{ image1 }}" alt="image">
            <div class="caption">
              <div class="container">
                <div class="row">
                  <div id='name1' class="col-xs-10">{{ name1 }}</div>
                  <div class="col-xs-2">
                    {% if finished1 == 'true' %}
                    <span id='finished1' class="fa fa-check"></span>
                    {% else %}
                    <span id='finished1' class="fa fa-times"></span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img id='image2' src="{{ image2 }}" alt="image">
            <div class="caption">
              <div class="container">
                <div class="row">
                  <div id='name2' class="col-xs-10">{{ name2 }}</div>
                  <div class="col-xs-2">
                    {% if finished2 == 'true' %}
                    <span id='finished2' class="fa fa-check"></span>
                    {% else %}
                    <span id='finished2' class="fa fa-times"></span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span id="key">{{key}}</span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script>


// $(document).ready(function() {
//   poll()
// });
//
// function poll() {
//   queryString = 'key='+$('key').text();
//   console.log("Performing poll. Key:" + queryString)
//
//   $.ajax({
//       url:"/poll",
//       data: queryString,
//       timeout: 600000,
//       success: function(update) {
//         $('row').html(update);
//
//         poll();
//
//       },
//       error: function(jqXHR, textStatus, errorThrown) {
//
//           console.log(jqXHR.status + "," + textStatus + ", " + errorThrown);
//
//           poll();
//
//       }
//   });
// }

(function poll(){
    $.ajax({ url: "/poll", success: function(data){
        //Update your dashboard gauge
        // salesGauge.setValue(data.value);
        $('row').html(data.value);
    }, dataType: "json", complete: poll, timeout: 30000 });
})();

</script>
  </body>
</html>
