<div class="col-xs-12 col-md-4 student">
  <div class="thumbnail">
    <img id='image1' src="{{ image1 }}" alt="image">
    <div class="caption">
        <div class="name">
          <span id='name1' >{{ name1 }}</span>
            {% if finished1 == 'true' %}
            <span id='finished1' class="fa fa-check"></span>
            {% else %}
            <span id='finished1' class="fa fa-times"></span>
            {% endif %}
        </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-4 student">
  <div class="thumbnail">
    <img id='image2' src="{{ image2 }}" alt="image">
    <div class="caption">
        <div class="name">
          <span id='name2'>{{ name2 }}</span>
            {% if finished2 == 'true' %}
            <span id='finished2' class="fa fa-check"></span>
            {% else %}
            <span id='finished2' class="fa fa-times"></span>
            {% endif %}
        </div>
    </div>
  </div>
</div>
