<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <img id='image1' src="{{ image1 }}" alt="image">
    <div class="caption">
      <div class="container">
        <div class="row">
          <div id='name1' class="col-xs-10">{{ name1 }}</div>
          <div class="col-xs-2">
            {% if finished1 == 'true' %}
            <span id='finished1' class="fa fa-check"></span>
            {% else %}
            <span id='finished1' class="fa fa-times"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <img id='image2' src="{{ image2 }}" alt="image">
    <div class="caption">
      <div class="container">
        <div class="row">
          <div id='name2' class="col-xs-10">{{ name2 }}</div>
          <div class="col-xs-2">
            {% if finished2 == 'true' %}
            <span id='finished2' class="fa fa-check"></span>
            {% else %}
            <span id='finished2' class="fa fa-times"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
